<!-- Карточка списка дел -->
<div 
  class="todo-card-component">


  <!-- Первая строка карточки -->
	<div class="card__first-row">

    <!-- Эмблема -->
		<div class="first-row__first-column">
			<span class="first-row__type">

        <!--Статус: в работе -->
        <img
          title='"В работе". Нажмите, чтобы изменить статус на "Завершено"'
          *ngIf="todo.status==0"
          class="actions__in_work"
          style="filter: invert(0%) sepia(0%) saturate(360%) hue-rotate(120deg) brightness(100%) contrast(100%);" 
          height="40"
          src="./../../../../../assets/status__in_work.svg"
          role="button" 
          (click)="todoService.setTodoStatusCompleted(todo.id)">

        <!--Статус: завершено -->
        <img
          title='"Завершено". Нажмите, чтобы изменить статус на "В работе"'
          *ngIf="todo.status==1"
          class="actions__completed"
          style="filter: invert(51%) sepia(97%) saturate(360%) hue-rotate(116deg) brightness(87%) contrast(93%);" 
          height="40"
          src="./../../../../../assets/status__completed.svg"
          role="button" 
          (click)="todoService.setTodoStatusInWork(todo.id)">

        <!--Статус: удалено -->
        <img
          title='"Удалено". Нажмите, чтобы восстановить'
          *ngIf="todo.status==2"
          class="actions__delete"
          style="filter: invert(51%) sepia(97%) saturate(360%) hue-rotate(216deg) brightness(87%) contrast(93%);" 
          height="40"
          src="./../../../../../assets/status__deleted.svg"
          role="button" 
          (click)="todoService.setTodoStatusInWork(todo.id)">

      </span>

		</div>

    <!-- Кнопки редактирования и удаления -->
		<span class="first-row__actions">
      
      <!-- Редактировать -->
      <img
        title='Нажмите, чтобы отредактировать'
        *ngIf="todo.status!=2"
        class="actions__edit"
        height="20" 
        src="./../../../../../assets/pencil-alt-solid.svg"
        role="button"
        [routerLink]="['/edit/', todo.id]">
      
      <!-- Удалить -->
      <img 
        title='Нажмите, чтобы удалить'
        *ngIf="todo.status!=2"
        class="actions__delete"
        height="20"
        src="./../../../../../assets/trash-alt-solid.svg"
        role="button" 
        (click)="todoService.setTodoStatusDeleted(todo.id)">
      
	
      </span>

	</div>


  <!-- Вторая строка карточки -->
	<div class="card__second-row"
    [routerLink]="['/todos', todo.id]">

		<span class="second-row__text">
      {{todo.title}}
    </span>

	</div>


  <!-- Третья строка карточки -->
	<div class="card__third-row"
    [routerLink]="['/todos', todo.id]">

		<span class="third-row__description">
      {{todo.body}}
    </span>

	</div>


</div>
