<!-- Карточка списка дел -->
<div class="todo-card-component" [routerLink]="['/todos', todo.id]">

  <!--
  <a [routerLink]="['/todos', todo.id]" class="btn btn-primary">Перейти</a>
  -->
  <!-- Первая строка карточки -->
	<div class="card__first-row">

    <!-- Эмблема -->
		<div class="first-row__first-column">
			<span class="first-row__type">
        <img style="filter: invert(51%) sepia(97%) saturate(362%) hue-rotate(116deg) brightness(87%) contrast(93%);" height="40" src="./../../../../../assets/holiday-solid.svg">
      </span>
		</div>

    <!-- Кнопки редактирования и удаления -->
		<span class="first-row__actions">
      <img class="actions__edit" height="20" src="./../../../../../assets/pencil-alt-solid.svg">
      <img class="actions__delete" height="20" src="./../../../../../assets/trash-alt-solid.svg">
		</span>

	</div>


  <!-- Вторая строка карточки -->
	<div class="card__second-row">
		<span class="second-row__text">
      {{todo.title}}
    </span>
	</div>


  <!-- Третья строка карточки -->
	<div class="card__third-row">
		<span class="third-row__description">
      {{todo.body}}
    </span>
	</div>


</div>
