<!-- Карточка списка дел -->
<ng-container [formGroup]="form">
    <div class="todo-card-component">
    
      <!-- Первая строка карточки -->
        <div class="card__first-row">
            <h1>Редактирование записи:</h1>
        </div>
    
      <!-- Вторая строка карточки -->
        <div class="card__second-row">
    
            <!-- Название -->
            <div class="form-group">
                <input type="text"
                    size="100%"
                    class="form-control"
                    id="title"
                    formControlName="title"
                    placeholder="Введите название"
                    autofocus
                    [class.is-invalid]="title.invalid">
            </div>
    
        </div>
    
    
        <!-- Третья строка карточки -->
        <div class="card__third-row">
    
            <!-- Текст объявления -->
            <div class="form-group">
                <textarea
                    class="form-control"
                    id="body"
                    formControlName="body"
                    placeholder="Введите описание"
                    autofocus
                    [class.is-invalid]="body.invalid"
                    rows="8"
                    cols="100">
                </textarea>
            </div>
    
        </div>
    
   
    <!-- Кнопка "Сохранить" -->
    <img 
      title='Нажмите, чтобы сохранить запись'
      class="actions__save"
      height="40"
      src="./../../../../../assets/save.svg"
      role="button" 
      (click)="submit()">
    
    </div>
    </ng-container>