<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Список дел</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Статус" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/all">Все дела</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/in_work">В работе</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/completed">Сделанные</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/deleted">Удаленные</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Категории" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/a">Домашние дела</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/b">Хозяйство</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/c">Семья</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/g">Автомобиль</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/d">Работа</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/e">Отдых</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>

        <!--Кнопка "Назад" -->
        <img
        title='Вернуться на предыдущую страницу'
        style="filter: invert(0%) sepia(0%) saturate(360%) hue-rotate(0deg) brightness(100%) contrast(100%);" 
        height="40"
        src="./../assets/go_back.svg"
        role="button" 
        (click)="goBack()">

        <!--Кнопка "Создать" -->
        <img
        [routerLink]="['/new']"
        title='Создать новую запись'
        style="filter: invert(0%) sepia(0%) saturate(360%) hue-rotate(0deg) brightness(100%) contrast(100%);" 
        height="40"
        src="./../assets/new.svg"
        role="button">

      </div>



    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
