<!--
<div class="container">
    <h1 >Список дел</h1>
  </div>
<div class="container">
    <div class="row">
        <div *ngFor="let todo of todos">
            <app-todo-card [todo]="todo"></app-todo-card>  
        </div>
    </div>
</div>
-->

<virtual-scroller #scroll [items]="todos"
                  (vsUpdate)="onVsUpdate($event)"
                  (vsChange)="onVsChange($event)"
                  (vsStart)="onVsStart($event)"
                  (vsEnd)="onVsEnd($event)"
                  [style.height.px]="viewVirtualScrollerAreaHeight"
                  [style.width.px]="viewVirtualScrollerAreaWidth">

  <div *ngFor="let item of scroll.viewPortItems">
    <app-todo-card 
      *ngIf="item.status==1"
      [todo]="item"></app-todo-card>
  </div>

</virtual-scroller>
